<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>greenart-HumanCloud</display-name>
  <welcome-file-list>
    <welcome-file>/index</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>400</error-code>
  	<location>/error400.jsp</location>
  </error-page>
  
  <filter>
  	<filter-name>UserMyPageFilter</filter-name>
  	<filter-class>kr.co.greenart.filter.UserMyPageFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserMyPageFilter</filter-name>
  	<url-pattern>/HumanCloud/user/MyPage/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>UserResumeFilter</filter-name>
  	<filter-class>kr.co.greenart.filter.UserResumeFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserResumeFilter</filter-name>
  	<url-pattern>/HumanCloud/user/MyPage/resume/my/*</url-pattern>
  </filter-mapping>
</web-app>